html { -webkit-font-smoothing: antialiased; }



label, input[type=button], input[type=submit], button { cursor: pointer; }

.textbox {
	border:1px solid gray;
}

.title-area .name div {
	background:url("../img/title.png");
	background-size:100% 100%;
	height:45px;
	width:400px;
	font-size:1px;
	font-color:black;
}
.highlight {
	background-color:yellow;
	position:relative;
}

.highlight .suggestion {
	display:none;
}

.highlight:hover .suggestion {
position:absolute;
top: -4em;
left: 1em;
padding:10px;
background: -webkit-linear-gradient(#f9d835, #f3961c) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#f9d835, #f3961c) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#f9d835, #f3961c) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Firefox 3.6 to 15 */
background: linear-gradient(#f9d835, #f3961c) repeat scroll 0 0 rgba(0, 0, 0, 0);
border-radius: 10px;
display: block;
z-index: 1;
}

.highlight:hover .suggestion:after{
    border-color: #f3961c transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    bottom: -8px;
    content: "";
    display: block;
    left:0em;
    position: absolute;
    width: 0;
}

nav {
	margin-bottom:10px;
}
#wrap {
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	width: 1064px;

}

.error {color:red;}
.empty-textarea {
	height:500px;
}

/* highlighthing */

ul.help{display:inline;position:relative;padding:0px;margin:0px;text-indent:0px;}

ul.help li{display:inline;position:relative;padding:0px;margin:0px;text-indent:0px;}

ul.help a:hover{display:inline;cursor: pointer;}

ul.help a{background:yellow;display:inline;}

ul.help a li {display:inline;background:black;position:absolute;top:1.2em;right:0px; visibility:hidden;}

ul.help a:hover  li{display:inline;background:blue;color:white;position:absolute;top:1.2em;right:0px;visibility:visible;}



/* begin css tabs */

ul#tabnav { /* general settings */

	text-align: left; /* set to left, right or center */

	margin: 2.5em 0 0 0;

	font: bold 11px verdana, arial, sans-serif;

	border-bottom: 1px solid #404040;

	list-style-type: none;

	padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */

}

ul#tabnav li { /* do not change */

	display: inline;

}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4, body#tab5 li.tab5, body#tab6 li.tab6 , body#tab7 li.tab7{ /* selected tab */

	border-bottom: 1px solid #fff; /* set border color to page background color */

	background-color: #fff; /* set background color to match above border color */

}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a, body#tab6 li.tab6 a  body#tab7 li.tab7 a { /* settings for selected tab link */

	background-color: #fff; /* selected tab background color */

	color: #000; /* selected tab link color */

	box-shadow: 3px -1px 3px #C0C0C0;

	position: relative;

	top: 1px;

	padding-top: 4px; /* must change with respect to padding (X) above and below */

}

ul#tabnav li a { /* settings for all tab links */

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;

	padding: 3px 4px; /* padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */

	border: 1px solid #404040; /* border COLOR as desired; usually matches border color specified in #tabnav */

	background-color: #F0F0F0; /* unselected tab background color*/

	color: #909090; /* unselected tab link color */

	margin-right: 0px; /* spacing between tabs */

	text-decoration: none;

	border-bottom: none;

}

ul#tabnav a:hover {

	background: #fff; /* hover color */

}

@media screen and (max-width: 1064px) {

	#wrap {
		margin-left: auto;
		margin-right: auto;
		margin-top:20px;
		width: 100%;
	}

	.title-area .name div {
		background:url("../img/title-small.png");
		background-size:100% 100%;
		height:45px;
		width:250px;
		font-size:1px;
		font-color:black;
	}

	nav li > a.button {
		text-align:left;
	}
}







