html { -webkit-font-smoothing: antialiased; }

nav.top-bar,
nav .top-bar-section li:not(.has-form) a:not(.button) {
	background: none repeat scroll 0 0 #660000;
}

nav .top-bar-section ul li > a.button {
	background-color: #b30000;
}
input.button {
	background-color: #660000;
}

input.button:hover,
input.button:focus {
	background-color: #b30000;
}

label, input[type=button], input[type=submit], button { cursor: pointer; }

.textbox {
	border:1px solid gray;
}

.title-area .name h1 {
	background:url("../img/title-small.png");
	background-size:100% 100%;
	height:45px;
	width:200px;
	font-color:black;
}
mark {
	background-color:yellow;
	position:relative;
}
.green mark {
	background-color:lightgreen;
	position:relative;
}

mark .suggestion {
	display:none;
}

mark:hover .suggestion {
position:absolute;
top: -5em;
left: 1em;
padding:10px;
background: -webkit-linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Firefox 3.6 to 15 */
background: linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);
border:1px solid black;
display: block;
z-index: 1;
min-width:400px;
}

nav {
	margin-bottom:10px;
}
#wrap {
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	width: 1064px;

}

.error {color:red;}
.empty-textarea {
	height:500px;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

tr.success { background-color: lightgreen!important;
	 -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.5s; /* Firefox < 16 */
       -ms-animation: fadein 0.5s; /* Internet Explorer */
        -o-animation: fadein 0.5s; /* Opera < 12.1 */
           animation: fadein 0.5s;
  -webkit-transition: all .5s ease-in-out;
  	 -moz-transition: all .5s ease-in-out;
  		-ms-transition: all .5s ease-in-out;
  		 -o-transition: all .5s ease-in-out;
  				transition: all .5s ease-in-out;

}
tr.warning { background-color: yellow!important;
	-webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
	-webkit-transition: all .5s ease-in-out;
		 -moz-transition: all .5s ease-in-out;
		  -ms-transition: all .5s ease-in-out;
			 -o-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out;
}

/* highlighthing */

ul.help{display:inline;position:relative;padding:0px;margin:0px;text-indent:0px;}

ul.help li{display:inline;position:relative;padding:0px;margin:0px;text-indent:0px;}

ul.help a:hover{display:inline;cursor: pointer;}

ul.help a{background:yellow;display:inline;}

ul.help a li {display:inline;background:black;position:absolute;top:1.2em;right:0px; visibility:hidden;}

ul.help a:hover  li{display:inline;background:blue;color:white;position:absolute;top:1.2em;right:0px;visibility:visible;}



/* begin css tabs */

ul#tabnav { /* general settings */

	text-align: left; /* set to left, right or center */

	margin: 2.5em 0 0 0;

	font: bold 11px verdana, arial, sans-serif;

	border-bottom: 1px solid #404040;

	list-style-type: none;

	padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */

}

ul#tabnav li { /* do not change */

	display: inline;

}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4, body#tab5 li.tab5, body#tab6 li.tab6 , body#tab7 li.tab7{ /* selected tab */

	border-bottom: 1px solid #fff; /* set border color to page background color */

	background-color: #fff; /* set background color to match above border color */

}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a, body#tab6 li.tab6 a  body#tab7 li.tab7 a { /* settings for selected tab link */

	background-color: #fff; /* selected tab background color */

	color: #000; /* selected tab link color */

	box-shadow: 3px -1px 3px #C0C0C0;

	position: relative;

	top: 1px;

	padding-top: 4px; /* must change with respect to padding (X) above and below */

}

ul#tabnav li a { /* settings for all tab links */

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;

	padding: 3px 4px; /* padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */

	border: 1px solid #404040; /* border COLOR as desired; usually matches border color specified in #tabnav */

	background-color: #F0F0F0; /* unselected tab background color*/

	color: #909090; /* unselected tab link color */

	margin-right: 0px; /* spacing between tabs */

	text-decoration: none;

	border-bottom: none;

}

ul#tabnav a:hover {

	background: #fff; /* hover color */

}

@media screen and (max-width: 1064px) {

	#wrap {
		margin-left: auto;
		margin-right: auto;
		margin-top:20px;
		width: 100%;
	}

	.title-area .name div {
		background:url("../img/title-small.png");
		background-size:100% 100%;
		height:45px;
		width:250px;
		font-size:1px;
		font-color:black;
	}

	nav li > a.button {
		text-align:left;
	}
}

.obscure {
position: absolute !important;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
}


::-webkit-input-placeholder {
   color: #b30000;
   font-size:18px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #b30000;
   font-size:18px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #b30000;
   font-size:18px;
}

:-ms-input-placeholder {
   color: #b30000;
   font-size:18px;
}
