// bower:scss
// endbower

@import 'foundation';
//@import 'animate';

html {
  -webkit-font-smoothing: antialiased;
}

nav {
  margin-bottom:10px;
}
#wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  width: 1064px;
}

nav.top-bar,
nav .top-bar-section li:not(.has-form) a:not(.button) {
  background: none repeat scroll 0 0 #660000;
  font-family: 'Open Sans', sans-serif;
}

nav .top-bar-section li:not(.has-form) a:hover:not(.button) {
  background: none repeat scroll 0 0 #410000;
}

nav .top-bar-section ul li > a.button {
  background-color: #B33636;
}
nav .top-bar-section ul li:hover > a.button {
  background-color: #410000;
}

#text {
  margin-top:15px;
}

.button {
  background-color: #660000;
}

.button:hover,
.button:focus {
  background-color: #b30000;
}

.button.small {
  font-weight:bold;
  background: none repeat scroll 0 0 #410000;
}

.button.small:hover,
.button.small:focus,
.button.small.secondary:hover,
.button.small.secondary:focus {
  color:#FFFFFF;
  font-weight:bold;
  background: none repeat scroll 0 0 #660000;
}

.button.small.secondary {
  font-weight:bold;
  color:#000000;
  background: none repeat scroll 0 0 #B33636;
}

.panel {
  background: none repeat scroll 0 0 #EEEEEE;
}

label, input[type=button], input[type=submit], button { cursor: pointer; }

.textbox {
  border:1px solid gray;
}

.title-area .name h1 {
  background:url("../images/title-small.png");
  background-size:100% 100%;
  height:45px;
  width:200px;
  font-color:black;
}
mark {
  background-color:yellow;
  position:relative;
}

.green mark {
  background-color:lightgreen;
  position:relative;
}
mark.green {
  background-color:lightgreen;
}

mark .suggestion {
  display:none;
}

mark:hover .suggestion {
position:absolute;
top: -5em;
left: 1em;
padding:10px;
background: -webkit-linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Firefox 3.6 to 15 */
background: linear-gradient(#d3d3d3, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);
border:1px solid black;
display: block;
z-index: 1;
min-width:400px;
}

.error {color:red;}

.empty-textarea {
  height:400px;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

tr.success { background-color: lightgreen!important;

}
tr.warning { background-color: yellow!important;
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}

td a {
  color:#000000;
  font-weight:bold;
}


@media screen and (max-width: 1064px) {

  #wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 100%;
  }

  .title-area .name div {
    background:url("../img/title-small.png");
    background-size:100% 100%;
    height:45px;
    width:250px;
    font-size:1px;
    font-color:black;
  }

  nav li > a.button {
    text-align:left;
  }
}

.obscure {
position: absolute !important;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
}


::-webkit-input-placeholder {
   color: #b30000;
   font-size:15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #b30000;
   font-size:18px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #b30000;
   font-size:18px;
}

:-ms-input-placeholder {
   color: #b30000;
   font-size:18px;
}

.shell-wrap {
  box-shadow: 0 0 30px rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
  color: yellow;
}
