html { -webkit-font-smoothing: antialiased; }
body { font: .9em verdana, arial, sans-serif; background:#FFF; margin:auto;}
label, input[type=button], input[type=submit], button { cursor: pointer; }

#wrap {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
.error {color:red;}

/* highlighthing */
ul.help{display:inline;position:relative;padding:0px;margin:0px;text-indent:0px;}
ul.help li{display:inline;position:relative;padding:0px;margin:0px;text-indent:0px;}
ul.help a:hover{display:inline;cursor: pointer;}
ul.help a{background:yellow;display:inline;}
ul.help a li {display:inline;background:black;position:absolute;top:1.2em;right:0px; visibility:hidden;}
ul.help a:hover  li{display:inline;background:blue;color:white;position:absolute;top:1.2em;right:0px;visibility:visible;}

/* begin css tabs */
ul#tabnav { /* general settings */
	text-align: left; /* set to left, right or center */
	margin: 2.5em 0 0 0;
	font: bold 11px verdana, arial, sans-serif;
	border-bottom: 1px solid #404040;
	list-style-type: none;
	padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}
ul#tabnav li { /* do not change */
	display: inline;
}
body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4, body#tab5 li.tab5, body#tab6 li.tab6 , body#tab7 li.tab7{ /* selected tab */
	border-bottom: 1px solid #fff; /* set border color to page background color */
	background-color: #fff; /* set background color to match above border color */
}
body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a, body#tab6 li.tab6 a  body#tab7 li.tab7 a { /* settings for selected tab link */
	background-color: #fff; /* selected tab background color */
	color: #000; /* selected tab link color */
	box-shadow: 3px -1px 3px #C0C0C0;
	position: relative;
	top: 1px;
	padding-top: 4px; /* must change with respect to padding (X) above and below */
}
ul#tabnav li a { /* settings for all tab links */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 3px 4px; /* padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #404040; /* border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #F0F0F0; /* unselected tab background color*/
	color: #909090; /* unselected tab link color */
	margin-right: 0px; /* spacing between tabs */
	text-decoration: none;
	border-bottom: none;
}
ul#tabnav a:hover {
	background: #fff; /* hover color */
}
/* end css tabs */

.textbox{
	border:1px solid #C0C0C0; 
	background-color:#FFFFFF; 
	padding:10px;
	display:block;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 5px 5px 5px #C0C0C0;
	-webkit-box-shadow: 5px 5px 5px #C0C0C0;
	box-shadow: 5px 5px 5px #C0C0C0;}
input.textbox {outline:0px;border:1px solid #C0C0C0;font: .9em verdana, arial, sans-serif;}

input.btn { 
	color:#FFFFFF; 
	font: bold 150% 'trebuchet ms',helvetica,sans-serif;   
	background-color:#C0C0C0;   
	border:1px solid;   
	border-color: #E0E0E0  #606060 #909090  #B0B0B0 ;
	-moz-border-radius: 15px;
	border-radius: 15px;
	}
.button{ 
	color:#FFFFFF; 
	font: bold 150% 'trebuchet ms',helvetica,sans-serif;   
	background-color:#C0C0C0; 
	border:1px solid;   
	border-color: #E0E0E0  #606060 #909090   #B0B0B0 ;
	-moz-border-radius: 15px; 
	border-radius: 15px;	}
.button a{text-decoration:none; 	color:#FFFFFF;}

.smallbutton{ 
	color:#FFFFFF; 
	font: bold 90% 'trebuchet ms',helvetica,sans-serif;   
	background-color:#C0C0C0; 
	border:1px solid;  
	padding:2px;
	text-decoration:none;
	border-color: #E0E0E0  #606060 #909090   #B0B0B0 ;
	-moz-border-radius: 5px; 
	border-radius: 5px;	}
.smallbutton a{text-decoration:none; color:#FFFFFF;}

.box {
	border:0px solid #F0F0F0; 
	background-color:#F0F0F0;  
	padding:0 15px 15px 15px; 
	margin-right:10px; 
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-border-radius: 15px; 
	border-radius: 15px; 
	-moz-box-shadow: 5px 5px 10px #C0C0C0 ;
	-webkit-box-shadow: 5px 5px 10px #C0C0C0 ; 
	box-shadow: 5px 5px 10px #C0C0C0 ;}
	
.analysis {
	display:block;
	float:left;
	border:0px solid #000000; 
	width:800px; min-height:100px; 
	background-color:#F0F0F0; 
	vertical-align:top; 
	padding:5px; margin-bottom:10px; 
	margin-top:5px; 
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;}
textarea {
  outline: 1px;border:1px;font: .9em verdana, arial, sans-serif;}



