<ul id="tabnav" ng-controller="formCtrl">
  <li class="tab1"><a href="#/overview">Overview</a></li>
  <li class="tab2"><a href="#/fix/passive" ng-click="highlight()">Passive Voice</a></li>
  <li class="tab3"><a href="#/fix/wordiness" ng-click="highlight()">Wordiness</a></li>
  <li class="tab4"><a href="#/fix/transitions" ng-click="highlight()">Transitions</a></li>
  <li class="tab5"><a href="#/fix/sentences" ng-click="highlight()">Sentences</a></li>
  <li class="tab6"><a href="#/fix/grammar" ng-click="highlight()">Grammar</a></li>
  <li class="tab6"><a href="#/fix/nominalizations" ng-click="highlight()">Nominalizations</a></li>
  <li class="tab7"><a href="#/fix/academic" ng-click="highlight()">Academic Style</a></li>
  <li class="tab8 right"><a ng-click="resetForm()">Reset and Start Over</a></li>
</ul>

