{% extends "index.twig" %}

{% block content %}
  <div class="large-6 columns">
    <form action="index.php" method="post">
      <textarea class="empty-textarea" cols="4" placeholder="Type or paste your writing here. It will not be stored or reused in any way." name="text"></textarea>
      <p><input type="hidden" name="got" value="1" /></p>
      <p><input class="button" type="submit" name="submit" value="Submit" /></p>
    </form>
  </div>
{% endblock %}
{% block sidebar %}
<div class="row">
  <div class="large-6 columns">
      <blockquote><em><b>15-30 minutes</b>: time a teacher spends correcting 1 paper<br /><b>0.144 seconds</b>: time Grammark takes to search 6,239 errors</em></blockquote>
  </div>
<div class="row">
<div class="large-3 columns" />
  <div class="panel">
    <h4>Gram<mark>mark</mark> helps with:</h4>
    <ul style="list-style-type:square;">
      <li>Academic style</li>
      <li>Passive voice</li>
      <li>Wordiness</li>
      <li>Vague language</li>
      <li>Transitions</li>
      <li>Sentence variety</li>
      <li>Run-on sentences</li>
      <li>Ands, Buts, Ors</li>
      <li>Grammar traps</li>
      <li>Spelling</li>
    </ul>
  <img src="./img/screenshot1.png" alt="Screenshot of Grammark highlighting" />
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <h4>Grammark does <mark>not</mark> fix:</h4>
    <ul style="list-style-type:square;">
      <li>Fragments/incomplete sentences</li>
      <li>Comma splices</li>
      <li>Tense shifts</li>
      <li>Subject-verb agreement</li>
      <li>Apostrophe errors</li>
      <li>Idiotic ideas</li>
    </ul>
  </div>
  <div class="panel">
    <h4>Fully Customizable</h4>
    <img src="./img/customize.png" alt="Screenshot of Customization" />
  </div>
</div>
</div>
</div>


{% endblock %}
