<ng-include src="'templates/results-nav.html'"></ng-include>

<div class="panel">
  <img alt="passes the criterion" style="display:inline; float:right;" src="{{img}}">
  <h2>{{title | capitalize}}</h2>

  <p>{{feedback}}</p>
</div>
{{ source }}
<h4>Click on the text below to start editing</h4>
<div ng-controller="textCtrl" id="editable" class="textbox" style="padding:10px 30px 10px 30px;" ng-model="text" ng-change="change()" contenteditable="true">{{ text }}</div>
<form ng-submit="submitForm()" ng-controller="FormCtrl">
  <textarea class="textbox" id="text" name="text" rows="50" cols="55" style="display:none; visibility:none" >{{ text }}</textarea>
  <input type="hidden" ng-model="source" value="{{ title }}" />
  <input type="hidden" name="got" value="1" />
  <input class="button" type="submit" name="submit" value="Recheck"/>
  <pre>form = {{source }}</pre>
</form>
<!-- <form action="saveword.php" method="post" onsubmit="return copyContenttwo()">
  <p><textarea class="textbox" id="save" name="text" rows="50" cols="55" style="display:none; visibility:none" ></textarea></p>
  <p><input class="button" type="submit" name="submit" value="Save &amp; Download"/></p>
</form> -->


