<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% if title %}{{ title }}{% else %}The Open Source Writing Aide{% endif %}</title>
  <link rel="icon" href="http://grammark.org/favicon.ico" />
  <link rel="canonical" href="http://grammark.org/" />
  <link rel="shortlink" href="http://grammark.org/" />
  <meta property="og:site_name" content="Grammark" />
  <meta property="og:url" content="http://grammark.org/" />
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}The Open Source Writing Aide{% endif %}" />
  <meta property="og:description" content="{% if message %}{{ message }}{% else %}Check your writing style, wordiness, grammar, transitions, and get suggestions.{% endif %}" />
  <meta property="og:image" content="http://grammark.org/img/screenshot.png" />
  <meta name="Author" content="Mark Fullmer" />
  <meta name="Description" content="{% if message %}{{ message }}{% else %}Check your writing style, wordiness, grammar, transitions, and get suggestions.{% endif %}" />
  <link rel="shortcut icon" href="http://grammark.org/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/css/foundation.min.css">
</head>
