<ng-include src="'templates/nav.html'"></ng-include>

<div ng-controller="textCtrl">
  <div class="panel">
    <img alt="passes the criterion" style="display:inline; float:right;" src="{{img}}">
    <h2>{{title | capitalize}}</h2>
      Wordcount: {{ wordcount }}
  </div>
    <div class="large-8 column">
      <div id="editable" class="textbox" style="padding:10px 30px 30px 30px;margin-bottom:20px;" ng-model="text" ng-change="change()" contenteditable="true">{{ text }}</div>

        <p><input class="button" ng-click="reloadForm()" value="Re-highlight" /></p>
    </div>
    <div class="panel large-4 columns">
      <h3>{{title | capitalize}} found</h3>
      <ul>
        <li ng-repeat="instance in hits">
          {{ instance }}
        </li>
      </ul>
    </div>
  </div>
</div>
