{% extends "index.twig" %}

{% block content %}
  <div class="large-8 columns">
    {% if message %}
      <div class="panel">
        {{ message|raw }}
      </div>
    {% endif %}
    {{ content|raw }}
  </div>
{% endblock %}
{% block sidebar %}
  {{ sidebar|raw }}
{% endblock %}
