<div class="button-bar">
	<ul class="button-group">
	  <li><a class="small button secondary" href="#/overview">Overview</a></li>
	  <li><a id="passive" class="small button" href="#/fix/passive" ng-click="highlight()">Passive Voice</a></li>
	  <li><a id="wordiness" class="small button" href="#/fix/wordiness" ng-click="highlight()">Wordiness</a></li>
	  <li><a id="transitions" class="small button" href="#/fix/transitions" ng-click="highlight()">Transitions</a></li>
	  <li><a id="sentences"class="small button" href="#/fix/sentences" ng-click="highlight()">Sentences</a></li>
	  <li><a id="grammar" class="small button" href="#/fix/grammar" ng-click="highlight()">Grammar</a></li>
	  <li><a id="nominalizations" class="small button" href="#/fix/nominalizations" ng-click="highlight()">Nominalizations</a></li>
	  <li><a id="academic" class="small button" href="#/fix/academic" ng-click="highlight()">Academic Style</a></li>
	 </ul>
	 <ul ng-controller="formCtrl">
	  <li class="button-group right"><a class="small button secondary" ng-click="resetForm()">RESET (Start Over)</a></li>
	</ul>
</div>
